[alias]
    st  = status -s --branch
    co  = checkout
    br  = branch
    ci  = commit
    lga = log --graph --oneline --decorate --all
    lg  = log --graph --oneline --decorate
    lo  = log --oneline
    ec  = commit --allow-empty
    save = stash
    load = stash pop
    pbr = !"f() { br=$(git rev-parse --abbrev-ref HEAD); git push origin $br; }; f"
    cbr = !"f() { \
        git co master; git pull; \
        br=$(date '+%Y%m%d')_$1_$2; \
        git co -b $br origin/master; \
        git ec -m "'[ci skip] create branch '$br"; \
        git push -u origin $br; \
    }; f"
[core]
    editor = vim -c \"set fenc=utf-8\"
    precomposeunicode = true
    quotepath = false
[color]
    diff = auto
    status = auto
    branch = auto
